<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
  <add key="MailSMTPSSL" value="3Bme5xZsYcDlGtIDe8rJaQ==" />
  <add key="AutomationFileLocation" value="//GnOv8KPO0fKQ0xYkjx/dGrd3tywQPJY1S9VY0ckZo=" />
  <add key="ErrorLogFileLocation" value="/9qRqmpIUDLBQMxqooJxBg2u4TLkFpdS6T+GZr4iGrVRXKbB6Y4uxCYAi37oUKwx" />
  <add key="ExecutionLogFileLocation" value="/9qRqmpIUDLBQMxqooJxBg2u4TLkFpdS6T+GZr4iGrUHdI5yDZiUCTO8v7px160U" />
  <add key="OutputFilesWorkingFolder" value="/9qRqmpIUDLBQMxqooJxBg2u4TLkFpdS6T+GZr4iGrU+P7VZyc6rA2DB/alDq+auYzcksd5GL23SUZDUE7UNrg==" />
  <add key="MergedOutputFilesWorkingFolder" value="/9qRqmpIUDLBQMxqooJxBg2u4TLkFpdS6T+GZr4iGrU+P7VZyc6rA2DB/alDq+auf7iIvtJ1yhXAuma2ny+NfqUyZVJXWzqhpFd5Vmc3EMk=" />
  <add key="SplittedOutputFilesWorkingFolder" value="/9qRqmpIUDLBQMxqooJxBg2u4TLkFpdS6T+GZr4iGrWnzmJ7XEx17Dm/CI+YIi/9iXNb4JFWqjNCZ6hFaPvEPV3ZslLGNK3S1Uy5qHOEH80=" />
  <add key="SplittedOutputfilesHistory" value="/9qRqmpIUDLBQMxqooJxBg2u4TLkFpdS6T+GZr4iGrWnzmJ7XEx17Dm/CI+YIi/9DZkHw5eZaqfWEUncXGzVuw==" />
  <add key="DeleteWorkingSplittedfiles" value="vDkI9iNodayHd/OiGyBOHw==" />
  <add key="ErrorEventLog" value="IdmDQQX1JozRdFP0E1Zz5g==" />
  <add key="FromMailID" value="cW3Ax18KviG2Pbu2FDfMLNpkklx+BDDN6f48ol5bqZw=" />
  <add key="FromMailPasssword" value="15dPQNoHbyKJnfvVDpvjmQ==" />
  <add key="ToMailID" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="MailDisclaimer" value="PmWzShDqXEXaB2INHSS7JWcrEWDdvFEajZVbywNtRIJ218f104qoTKWDbf45CYA2" />
  <add key="MailSMTPHost" value="ERALo7Diy9az6eA5z67snQ==" />
  <add key="MailSMTPPort" value="Ks6GKYfkZO5GhnmoyltJVQ==" />
  <add key="ApplicationName" value="b3KVoZvYXAeA5nM4jQKXW27KZDn96TbpyweL8HUaotVDIYU58rZ6z9w0fmfnPtiE" />
  <add key="DatatracURL" value="62O8fL7dk1eiz4sc+WM1z9+nv4BcV2pSGkSCin0rrag=" />
  <add key="DatatracUserName" value="mRM1yodsmYr2r4xPiXqtajlKNnelcNcAiFfRvJbM3t8=" />
  <add key="DatatracPassword" value="SyeBS/kMXGM46PGXceuLYg==" />
  <add key="OrderSettlement_transaction_type" value="t4WQcl1r0I99TeN1KSNQeg==" />
  <add key="OrderSettlement_driver_sequence" value="vqYjIRsijNgfHRwC8BVTTA==" />
  <add key="OrderSettlement_record_type" value="03dSsLJmPw1L+Ilvuk0XCg==" />
  <add key="DivideToProcessParallelly" value="TmRbjCNUHQ59blzcPdasmA==" />
  <add key="Maxlimit_order_line_item" value="4L4v1yFEa3GR2VGbH17OGg==" />
  <add key="DBConnection" value="SYErDwXjj55BxvI9Zz4C94c3DDwUWyT9i1nGJrFVaBI3B03fYeUiJP50K4mziB3PV76o1Y+FYRW63iirH4VPd1JKwBcFVsXoxd62OB+0PbQlTkt+9ZkIYE/KvwSTXGdgNSoTPWYL4VGOjESb0GX81g==" />
  <add key="DivideEBusyDataIntoMultipleInputFiles" value="Qmc//RkU7hwy8NVmVuM8hw==" />
  <add key="FSCRatesCustomerMappingFilepath" value="mOpS9BUAh1g8pk6Il0MTP+Ec9iPQYppYI/mTXinKs48=" />
  <add key="SendDieselPriceMissingEmail" value="wgfptuDZtKP20xquIbsGrhTeN02WbYOP5GiB+zSs8Fg=" />
  <add key="BURLSEAandPDXLocationCodeCalculationBasedOnPieces"
   value="NMzmuBy2W4/2We5hJ2x8SA==" />
  <add key="BURLSEAandPDXDeliveryDateCalculationBasedOnPieces"
   value="5LmyRASi1IanGXolPn+Yxg==" />
  <add key="BURLOtherThanSEAandPDXLocationCodeCalculationBasedOnPieces"
   value="wN6f2GV0exs0SHIC/xLX6A==" />
  <add key="BURLOtherThanSEAandPDXDeliveryDateCalculationBasedOnPieces"
   value="5LmyRASi1IanGXolPn+Yxg==" />
 </appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>