<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>

		<add key="MailSMTPSSL" value="Y" />
		<add key="AutomationFileLocation" value="C:\DatatracAPIAutomation" />
		<add key="ErrorLogFileLocation" value="C:\JWLJobOutputs\BillingAutomation\ErrorLog" />
		<add key="ExecutionLogFileLocation" value="C:\JWLJobOutputs\BillingAutomation\ExecutionLog" />
		<add key="OutputFilesWorkingFolder" value="C:\JWLJobOutputs\BillingAutomation\OutputFilesWorkingFolder" />
		<add key="MergedOutputFilesWorkingFolder" value="C:\JWLJobOutputs\BillingAutomation\OutputFilesWorkingFolderMerged" />
		<add key="SplittedOutputFilesWorkingFolder" value="C:\JWLJobOutputs\BillingAutomation\SplittedOutputFilesWorkingFolder" />
		<add key="SplittedOutputfilesHistory" value="C:\JWLJobOutputs\BillingAutomation\SplittedOutputfilesHistory" />
		<add key="DeleteWorkingSplittedfiles" value="N" />
		<add key="ErrorEventLog" value="DataTrackAPI" />
		<add key="FromMailID" value="techservices@jwlogistics.com" />
		<add key="FromMailPasssword" value="8hN>Rg5w" />
		<add key="ToMailID" value="drupanavar@jwlogistics.com" />
		<add key="MailDisclaimer" value="NOTE: Please do not reply to this email." />
		<add key="MailSMTPHost" value="smtp.gmail.com" />
		<add key="MailSMTPPort" value="587" />
		<add key="ApplicationName" value="DatatracAPIOrder_OrderSettlement" />
		<add key="DatatracURL" value="https://login.datatrac.com/rest" />
		<add key="DatatracUserName" value="craval@jwlogistics.com" />
		<add key="DatatracPassword" value="JwLogistics1#" />
		<!--<add key="DatatracOrder_DriverNumberEnable" value="Y" />-->
		<add key="OrderSettlement_transaction_type" value="D" />
		<add key="OrderSettlement_driver_sequence" value="1" />
		<add key="OrderSettlement_record_type" value="0" />
		<add key="DivideToProcessParallelly" value="2" />
		<add key="Maxlimit_order_line_item" value="999" />
		<add key="DBConnectionOld" value="Data Source=192.168.2.142;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=JwLogistics1!;"/>
		<add key="DBConnection_1" value="Data Source=172.25.16.84,51343;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=Jwlogistics3!;"/>
		<!--<add key="DBConnection" value="Data Source=172.25.16.84,51343;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=Jwlogistics3!;"/>-->
		<add key="DBConnection" value="Data Source=172.25.16.89;Initial Catalog=JWL_Analytics;User ID=drupanavar;Password=JWLogistics8!;"/>
		<add key="DivideEBusyDataIntoMultipleInputFiles" value="4" />
		<add key="FSCRatesCustomerMappingFilepath" value="C:\JWLRetriveEmail\FSCRates\FSCRates.xlsx" />
		<add key="SendDieselPriceMissingEmail" value="drupanavar@jwlogistics.com" />
		

	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>